.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.img {
}

.title {
  margin-top: 4px;
  font-size: 12px;
}
