.contextMenu {
  position: absolute;
  background: var(--modal-color);
  color: #fff;
  padding: 2px 0;
  width: 250px;
  list-style: none;
  font-size: 12px;
  border: 1px solid var(--modal-border);
  li {
    padding: 5px 15px;
    cursor: pointer;
    position: relative;

    &:hover {
      background: #666;
    }
  }
  z-index: 4;

  border: 1px solid green;
}
