.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/login.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* верхний блок по центру, кнопка снизу */
  align-items: center;
  padding: 40px 20px; /* отступы сверху и снизу */
  color: white;
  font-size: 2rem;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* растягиваем, чтобы центрировать по вертикали */
}

.img {
  z-index: 2;
}

.input {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.enter {
  width: 200px;
  margin-top: 20px;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
}

.anon {
  width: 200px;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 20px;
}
