.panel {
  height: 100%;
  display: flex;
  align-items: center;
}
.tab {
  margin-right: 2px;
  width: 150px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #4a90e2;
    border-radius: 2px 2px 0 0;
  }
}

.active {
  background: rgba(255, 255, 255, 0.1);
}
