.folderWindow {
  position: absolute;

  width: 500px;
  background: #fff;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 100;
}

.folderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  color: white;

  font-weight: 500;
  height: 30px;
  font-size: 14px;
  & > span {
    margin: 5px;
  }
}

.minimized {
  display: none;
}

.controls {
  height: 100%;
  & > button {
    height: 100%;

    border: none;
    padding: 0 20px;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.folderContent {
  background: #202020;
  padding: 10px;
  min-height: 350px;

  color: red;
}

.maximized {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: #202020;
  width: 100vw !important;
  height: calc(100vh - 35px) !important;

  transform: none !important;
  margin: 0 !important;

  border-radius: 0;
}

.folderWindow {
  position: absolute;
}

.folderWindow.resizing {
  cursor: nwse-resize;
}

.folderWindow.maximized .folderContent {
  height: calc(100% - 35px);
}
