.folderWindow {
  position: absolute;

  width: 320px;
  background: #fff;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 100;
}

.folderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  color: white;

  font-weight: 500;
  height: 30px;
  font-size: 14px;
  & > span {
    margin: 5px;
  }
}

.controls {
  height: 100%;
  & > button {
    height: 100%;

    border: none;
    padding: 0 20px;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.folderContent {
  background: #f9f9f9;
  padding: 10px;
  min-height: 200px;
  color: red;
}
